html,
body {
    /* height: 100%; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: lightgray;
}

section {
    box-shadow: 4px 4px darkgrey;
}

#wrapper {
    display: grid;
    box-sizing: border-box;
    /* couldn't figure out another way for equal distribution */
    grid-template-columns: 33.3% 33.4% 33.3%;
    margin: 0px 50px 20px 50px;
    width: auto;
}

.container {
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 10px;
}

#input-section {
    grid-column: span 1;
    width: fit-content;
}

.note-sections {
    /* change 'span' to '1' for more of a trello like layout */
    grid-column: span 3;
    padding-bottom: 20px;
    min-width: 278px;
}

.note-divs {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* change 'justify-content' to 'center' for more of a trello like layout */
    justify-content: start;
    gap: 10px
}

.note {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 150px;
    width: 250px;
    box-shadow: 4px 4px darkgray;
    position: relative;
    /* animation: fadeIn 1s; */
}

.note:hover {
    .delete-button {
        visibility: visible;
        opacity: 1;
    }

}

.delete-button {
    visibility: hidden;
    transition: all ease-in-out 70ms;
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.note-actions {
    width: 100%;
    align-self: flex-end;
    box-sizing: border-box;
    border-top: 1px dashed black;
    border-collapse: collapse;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-height: 32px;
    height: 33px;
    gap: 5px;
}

.note-content {
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;
    width: auto;
    margin: 10px;
    height: 100%;
}

h1 {
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column: span 3;
    /* i don't like the centered look for this, but here is the code */
    /* display: flex;
    justify-content: center; */
}

h2 {
    font-size: medium;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

button {
    border: 1px solid black;
    background-color: lightgray;
    box-shadow: 2px 2px darkgrey;
    transition: all ease-in-out 50ms;
    width: fit-content;
}

button:hover {
    translate: -1px -1px;
    box-shadow: 3px 3px darkgrey;
}

#main-form {
    display: flex;
    flex-direction: column;

    button {
        margin-top: 5px;
        box-shadow: 3px 3px darkgray;
    }

    button:hover {
        translate: -1px -1px;
        box-shadow: 4px 4px darkgrey;
    }

    textarea {
        box-shadow: 3px 3px darkgray;
        border: 1px solid grey;
        margin: 5px 0px 5px 0px;
        width: 250px;
    }
}

#date-time {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

    input {
        box-shadow: 3px 3px darkgray;
        border: 1px solid grey;
        margin: 5px 0px 5px 0px;
    }

    #date-input-field {
        width: 60%;
    }

    #time-input-field {
        width: 40%;
    }
}

#note-due-txt {
    position: absolute;
    line-height: 0.9;
    text-align: end;
    /* margin: 0px;
    padding: 0px; */
    bottom: 4px;
    left: 10px;
}

#note-due-date {
    position: absolute;
    bottom: 15px;
    left: 45px;
}

#note-due-time {
    position: absolute;
    bottom: 3px;
    left: 45px;
}

.red-alert {
    background-color: red;
}

.still-time {
    background-color: #f2f2f2;
}