html,
body {
    /* height: 100%; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: lightgray;
}

section {
    box-shadow: 5px 5px darkgrey;
}

#wrapper {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    margin: 20px 50px;
    width: auto;
}

.container {
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 10px;
}

#input-section {
    grid-column: span 3;
}

.note-sections {
    grid-column: span 3;
}

.note-divs {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px
}

.note {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 150px;
    width: 250px;
    box-shadow: 4px 4px darkgray;
    position: relative;
    /* animation: fadeIn 1s; */
}

.note:hover {
    .delete-button {
        visibility: visible;
        opacity: 1;
    }

}

.delete-button {
    visibility: hidden;
    transition: all ease-in-out 70ms;
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.note-actions {
    width: 100%;
    align-self: flex-end;
    box-sizing: border-box;
    border-top: 1px dashed black;
    border-collapse: collapse;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 32px;
    gap: 5px;
}

.note-content {
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;
    width: auto;
    margin: 10px;
    height: 100%;
}

h1 {
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    font-size: medium;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}